body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 241, 241);
}

nav {
    display: flex;
    background-color: white;
    padding-top: 10px;
    width: 98%;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input-search {
    width: 30%;
    height: 40px;
    background-color: #eef3f9;
    padding-left: 30px;
    border: 0;
}


/* icon*/

.fa-magnifying-glass {
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
}